<section class="container d-flex flex-column align-items-center justify-content-center text-white">

  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <h3 class="text-white h3__style">¿Cuál va a ser tu perfil?
    </h3>

    <div class="mb-3 d-flex flex-row justify-content-center">
      <label>
        <input type="radio" formControlName="rol" value="alumn" /> Alumno
      </label>
      <label>
        <input type="radio" style="margin-left: 10px;" formControlName="rol" value="prof" /> Profesor
      </label>
      <p class="error" *ngIf="checkControl('rol', 'required')">
        Selecciona tu perfil
      </p>
    </div>

    <div
      [ngClass]="{
        'form-container': true,
        show:
          formRegister.get('rol')?.value === 'alumn' ||
          formRegister.get('rol')?.value === 'prof'
      }"
    >      <h3>Información personal</h3>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Introduce tu nombre"
          formControlName="nombre"
        />
        <p class="error" *ngIf="checkControl('nombre', 'required')">
          Este campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('nombre', 'minlength')">
          Tu nombre debe de contener al menos 3 letras.
        </p>
      </div>

      <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="apellidos"
          placeholder="Introduce tus apellidos"
          formControlName="apellidos"
        />
        <p class="error" *ngIf="checkControl('apellidos', 'required')">
          Este campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('apellidos', 'minlength')">
          Tus apellidos debe de contener al menos 3 letras.
        </p>
      </div>

      <div class="mb-3">
        <label for="mail" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="mail"
          placeholder="Introduce tu email"
          formControlName="mail"
        />
        <p class="error" *ngIf="checkControl('mail', 'required')">
          Este campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('mail', 'pattern')">
          El email tiene formato incorrecto
        </p>
      </div>

      <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input
        type="password"
        class="form-control"
        id="pass"
        placeholder="Introduce tu contraseña"
        formControlName="pass"
        />
        <p class="error" *ngIf="checkControl('pass', 'required')">
          Este campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('pass', 'pattern')">
          Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.
        </p>
      </div>
      
      <div class="mb-3">
        <label for="repeatpassword" class="form-label">Repite la contraseña</label>
        <input
        type="password"
        class="form-control"
        id="repeatpassword"
        placeholder="Repite tu contraseña"
        formControlName="repeatpassword"
        />
        <p
        class="error"
        *ngIf="
            formRegister.get('repeatpassword')?.touched &&
            formRegister.hasError('checkpassword')
          "
        >
        Los campos contraseña y repetir la contraseña no coinciden
      </p>
    </div>
    <div *ngIf="isTeacher()">
      <h3>Información profesional</h3>
      <p>¡Con estos datos los alumnos podrán contactar contigo!</p>
      <div class="mb-3">
        <label>
          <input type="checkbox" formControlName="captureLocation" />
          Acepto que se capture mi ubicación
        </label>
      </div>
      <p class="error" *ngIf="checkControl('lat', 'requiredForProfValidator')">{{ formRegister.get('lat')?.errors?.['requiredForProfValidator'] }}
      <span class="d-none">
    <div class="mb-3" *ngIf="formRegister.get('captureLocation')?.value">
      <label for="lat" class="form-label">Latitud</label>
      <input
        type="text"
        class="form-control"
        id="lat"
        placeholder="Latitud"
        formControlName="lat"
        readonly
      />     
    </div>

    <div class="mb-3" *ngIf="formRegister.get('captureLocation')?.value">
      <label for="lon" class="form-label">Longitud</label>
      <input
        type="text"
        class="form-control"
        id="lon"
        placeholder="Longitud"
        formControlName="lon"
        readonly
      />
    </div>
  </span>

      <div class="mb-3">
        <label for="foto" class="form-label">Foto de perfil</label>
        <input
          type="text"
          class="form-control"
          id="foto"
          placeholder="Introduce la URL de la foto"
          formControlName="foto"
        />
      </div>
      <p class="error" *ngIf="checkControl('foto', 'pattern')">Tu URL tiene un formato incorrecto</p>
      <p class="error" *ngIf="checkControl('foto', 'requiredForProfValidator')">{{ formRegister.get('foto')?.errors?.['requiredForProfValidator'] }}</p>

      <div class="mb-3">
        <label for="tel" class="form-label">Introduce tu número de teléfono</label>
        <input
          type="text"
          class="form-control"
          id="tel"
          placeholder="Número de teléfono"
          formControlName="tel"
        />
        <p class="error" *ngIf="checkControl('tel', 'pattern')">Tu teléfono no puede contener ni espacios ni
          caracteres especiales</p>
          <p class="error" *ngIf="checkControl('tel', 'minlength')">Tu teléfono no puede menos de 9 dígitos</p>
            <p class="error" *ngIf="checkControl('tel', 'maxlength')">Tu teléfono no puede tener más de 20 dígitos</p>
            <p class="error" *ngIf="checkControl('tel', 'requiredForProfValidator')">{{ formRegister.get('tel')?.errors?.['requiredForProfValidator'] }}</p>

      </div>

      <div class="mb-3">
        <label for="pxh" class="form-label">Precio por hora (€)</label>
        <input
          type="number"
          class="form-control"
          id="pxh"
          placeholder="Precio por hora"
          formControlName="pxh"
        />
        <p class="error" *ngIf="checkControl('pxh', 'pxhvalidator')">{{ formRegister.get('pxh')?.errors?.['pxhvalidator'] }}</p>
        <p class="error" *ngIf="checkControl('pxh', 'requiredForProfValidator')">{{ formRegister.get('pxh')?.errors?.['requiredForProfValidator'] }}pxh
      </div>

      <div class="mb-3">
        <label for="experiencia" class="form-label">Experiencia (años)</label>
        <input
          type="number"
          class="form-control"
          id="experiencia"
          placeholder="Años de experiencia"
          formControlName="experiencia"
        />
        <p class="error" *ngIf="checkControl('experiencia', 'experienciaValidator')">{{ formRegister.get('experiencia')?.errors?.['experienciaValidator'] }}</p>
        <p class="error" *ngIf="checkControl('experiencia', 'requiredForProfValidator')">{{ formRegister.get('experiencia')?.errors?.['requiredForProfValidator'] }}
      </div>
    </div>
    
    <input
      type="submit"
      value="Enviar"
      class="btn btn-custom vibrar"
      [disabled]="!formRegister.valid"
    />
  </div>
  </form>

  <p class="error">{{ errorMessage }}</p>
</section>



