
input.ng-invalid.ng-touched{
  border-bottom: 3px solid tomato;
}

input.ng-valid.ng-touched{
  border-bottom: 3px solid lightgreen;
}

.error{
  color: tomato;
  font-size: 12px;
}

.form-container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-container.show {
  opacity: 1;
  transform: translateY(0);
}

.capture-location-label {
  margin-top: 10px;
}

section {
  color: antiquewhite;
}

input{
  background-color: rgba(0, 0, 0, 0.1);
  color: white!important;
}

input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


.h3__style{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
}

input::placeholder{
  color: gray;
}
.btn-custom {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  color: white;
  border-color: black;
  transform: perspective(600px) translateZ(0);
}

.btn-custom:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: perspective(600px) rotateX(20deg) translateZ(0);
}
@keyframes vibrar {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(1deg); }
  50% { transform: translateX(2px) rotate(-1deg); }
  75% { transform: translateX(-2px) rotate(1deg); }
  100% { transform: translateX(2px) rotate(-1deg); }
}

.vibrar:enabled {
  animation: vibrar 0.3s ease-in-out 1;
}