<div *ngIf="usuario?.rol === 'alumn' || usuario?.rol === 'admin'; else profesorTemplate">
  <!-- FORMULARIO PERSONAL -->

  <div class="container">
    <h3 class="h3Titulo mt-4 mb-4 text-white font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Actualiza tus datos personales</h3>
    <div class="form">
      <form [formGroup]="formUsuario" (ngSubmit)="getDataForm()">

        <div class="mb-3 containerForm">
          <label class="label" for="nombre">Nombre</label>
          <input class="input" type="text" id="nombre" formControlName="nombre" />
          <p class="error" *ngIf="checkControl('nombre')">Tu nombre debe contener al menos 3 letras.</p>
        </div>

        <div class="mb-3 containerForm">
          <label class="label" for="apellidos">Apellidos</label>
          <input class="input" type="text" id="apellidos" formControlName="apellidos" />
          <p class="error" *ngIf="checkControl('apellidos')">Tus apellidos deben contener al menos 3 letras.
          </p>
        </div>

        <div class="mb-3 containerForm">
          <input class="input" type="email" id="mail" formControlName="mail" />
          <label class="label" for="mail">Correo</label>
          <p class="error" *ngIf="checkControl('mail')">Tu correo electrónico es incorrecto.</p>
        </div>
        

        <div class="mb-3 containerForm">
          <input class="input" type="text" id="tel" formControlName="tel" />
          <label class="label" for="tel">Teléfono</label>
          <p class="error" *ngIf="checkControl('tel')">Tu número de teléfono no es válido.</p>
        </div>

        <div class="mb-3 containerForm">
          <input class="input" type="text" id="foto" formControlName="foto" />
          <label class="label" for="foto">Fotografía</label>
        </div>

        <div class="mb-3 containerForm">
          <input class="input" type="password" id="newPass" formControlName="newPass"/>
          <label class="label" for="newPass">Contraseña</label>
          <p class="error" *ngIf="checkControl('newPass')">Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.</p>
        </div>

        <div class="mb-3 containerForm">
          <input class="input" type="password" id="repetirPass" formControlName="repetirPass"/>
          <label class="label repetirPass-label" for="repetirPass">Repite tu contraseña</label>
          <p class="error" *ngIf="formUsuario.get('repetirPass')?.dirty && formUsuario.hasError('controlpass')">Las contraseñas no coinciden</p>
        </div>


        <input class="btn button" type="submit" value="Actualizar" [disabled]="formUsuario.invalid || formUsuario.hasError('controlpass')">

      </form>
    </div>
  </div>
</div>

<ng-template #profesorTemplate>
  <!-- FORMULARIO PROFESOR-->

  <div class="container flex-column">
    <h3 class="h3Titulo mt-4 mb-4 text-white font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Actualiza tus datos</h3>

    <!-- ACORDEON1 -->

    <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button header text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne">
            Personales
          </button>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="form">
                <form [formGroup]="formUsuario" (ngSubmit)="getDataForm()">
                  <div class="containerForm">
                    <input class="input" type="text" id="nombre" formControlName="nombre" />
                    <label class="label" for="nombre">Nombre</label>
                    <p class="error" *ngIf="checkControl('mail')">Tu nombre debe contener al menos 3 letras.</p>
                  </div>
                  <div class="containerForm">
                    <input class="input" type="text" id="apellidos" formControlName="apellidos" />
                    <label class="label" for="apellidos">Apellidos</label>
                    <p class="error" *ngIf="checkControl('mail')">Tus apellidos deben contener al menos 3 letras.</p>
                  </div>
                  <div class="containerForm">
                    <input class="input" type="email" id="mail" formControlName="mail" />
                    <label class="label" for="mail">Correo</label>
                    <p class="error" *ngIf="checkControl('mail')">Tu correo electrónico es incorrecto.</p>
                  </div>

                  <div class="containerForm">
                    <input class="input" type="text" id="tel" formControlName="tel" />
                    <label class="label" for="tel">Teléfono</label>
                    <p class="error" *ngIf="checkControl('tel')">Tu número de teléfono no es válido.</p>
                  </div>

                  <div class="containerForm">
                    <input class="input" type="text" id="foto" formControlName="foto" />
                    <label class="label" for="foto">Fotografía</label>
                  </div>
                  <div class="containerForm">
                    <input class="input" type="password" id="pass" formControlName="pass">
                    <label class="label Pass-label" for="pass">Contraseña</label>
                    <p class="error" *ngIf="checkControl('pass')">Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.</p>
                  </div>   
                  <div class="containerForm">
                    <input class="input" type="password" id="repetirPass" formControlName="repetirPass">
                    <label class="label repetirPass-label" for="repetirPass">Repite tu contraseña</label>
                    <p class="error" *ngIf="formUsuario.get('repetirPass')?.dirty && formUsuario.hasError('controlpass')">Las contraseñas no coinciden</p>
                  </div>
                  <p class="newPass">Introduce una nueva contraseña solo si quieres cambiarla</p>
                  <div class="containerForm">
                    <input class="input" type="password" id="newPass" formControlName="newPass" />
                    <label class="label" for="newPass">Nueva contraseña</label>
                    <p class="error" *ngIf="checkControl('newPass')">Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.</p>
                  </div>

                  <input class="btn button" type="submit" value="Actualizar" [disabled]="formUsuario.invalid || formUsuario.hasError('controlpass')">
                  <p class="error">{{ errorMessage }}</p>
                </form>
              </div>
            </div>
          </div>
        </h2>
      </div>

     <!-- ACORDEON 2 -->

     <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed header text-white" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo">
          Profesionales
        </button>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="form">
              <form [formGroup]="formUsuario" (ngSubmit)="getDataForm()">
                 <div class="btn-group mb-2 ms-2 me-2" *ngFor="let especialidad of especialidades">
                  <div>
                    <input type="checkbox" class="btn-check" id="button{{especialidad}}" (click)="buttonClick(especialidad)">
                    <label class="btn btn-outline-light" for="button{{especialidad}}">{{especialidad}}</label><br>
                  </div>          
                </div>
                
                <div class="containerForm">
                  <input class="input" type="number" id="experiencia" formControlName="experiencia" />
                  <label class="label" for="experiencia">Años de experiencia</label>
                </div>
                <div class="containerForm">
                  <input class="input" type="number" id="pxh" formControlName="pxh" />
                  <label class="label" for="pxh">Precio/h</label>
                </div>
                  <div class=" containerForm check d-flex flex-row">
                    <input type="checkbox" id="localizacion" (click)="getLocation()"/>
                    <label class="title__check" for="localizacion"> ¿Deseas añadir la localización de tus clases?</label>
                  </div>
                  <div class="containerForm">
                    <input class="input" type="password" id="pass1" formControlName="pass">
                    <label class="label Pass-label" for="pass">Contraseña</label>
                    <p class="error" *ngIf="checkControl('pass')">Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.</p>
                    </div> 
                  <div class="containerForm">
                    <input class="input" type="password" id="repetirPass1" formControlName="repetirPass">
                    <label class="label repetirPass-label" for="repetirPass">Repite tu contraseña</label>
                    <p class="error" *ngIf="formUsuario.get('repetirPass')?.dirty && formUsuario.hasError('controlpass')">Las contraseñas no coinciden</p>
                  </div>
                  <p class="newPass">Introduce una nueva contraseña solo si quieres cambiarla</p>
                  <div class="containerForm">
                    <input class="input" type="password" id="newPass1" formControlName="newPass" />
                    <label class="label" for="newPass">Nueva contraseña</label>
                    <p class="error" *ngIf="checkControl('newPass')">Tu contraseña debe de empezar por una letra, contener al menos una mayúscula, una minúscula, un número y mínimo 8 caracteres.</p>
                  </div>

                  <input class="btn button" type="submit" value="Actualizar" [disabled]="formUsuario.invalid || formUsuario.hasError('controlpass')">

                  <p class="error">{{ errorMessage }}</p>
                </form>
              </div>
            </div>
          </div>
        </h2>
      </div>
    </div>
  </div>
</ng-template>