<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="div-style text-center mb-4">
    <h2 class="section-title">SOLICITUD DE CLASES</h2>
    <div *ngFor="let usuario of arrUsuario">
      <ng-container *ngIf="!usuario.activo">
        <app-peticion-card [miUsuario]="usuario"></app-peticion-card>
      </ng-container>
    </div>
  </div>

  <div class="div-style text-center">
    <h2 class="section-title">ACEPTADOS</h2>
    <div *ngFor="let usuario of arrUsuario">
      <ng-container *ngIf="usuario.activo">
        <app-alumno-card [miUsuario]="usuario"></app-alumno-card>
      </ng-container>
    </div>
  </div>
</main>
