<form [formGroup]="formForo" (ngSubmit)="enviarMensaje()" class="mb-4">
  <div class="mb-3">
    <label for="titulo" class="form-label">Título:</label>
    <input
      id="titulo"
      type="text"
      formControlName="titulo"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="contenido" class="form-label">Contenido:</label>
    <textarea
      id="contenido"
      formControlName="contenido"
      class="form-control"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [routerLink]="['/usuario', userId]"
    routerLinkActive="active"
  >
    Enviar
  </button>
</form>
<div class="card bg-info text-white" style="width: 50%">
  <h2 class="titulo">Conoce nuestra Comunidad TeacherApp</h2>
  <div class="card-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Miembro TeacherApp</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="mb-3">
        <label class="form-label">Chat</label>
        <input type="text" class="form-control" formControlName="mensaje" />
      </div>
      <input type="submit" value="Enviar" class="btn btn-danger" />
    </form>

    <div class="mt-4">
      <h4 class="card-title">Clientes conectados: {{ numUsuarios() }}</h4>
      <ul class="card-text">
        <li *ngFor="let msg of mensajes()">
          <strong
            >{{ msg.username }}, rol: {{ msg.user_rol }} id:
            {{ msg.user_id }}</strong
          >: {{ msg.mensaje }}
        </li>
      </ul>
    </div>
  </div>
</div>
