<div>
  <h3>Activos</h3>
  <mat-accordion>
    <div *ngFor="let student of arrActiveStudents" class="mb-3">
      <mat-expansion-panel [expanded]="isPanelExpanded(student.id)">
        <mat-expansion-panel-header class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="{{student.foto}}" alt="Imagen de perfil de: {{student.nombre}}" class="mr-3">
            <div>
              <h5>{{student.nombre}} {{student.apellidos}}</h5>
            </div>
          </div>
          <div>
            <button (click)="deactivateStudent(student)" class="btn btn-dark">Dar de baja al alumno</button>
          </div>
        </mat-expansion-panel-header>
        <!-- Contenido del panel de expansión -->
        <div>
          <div>
            <p><strong>Correo electrónico:</strong> {{student.mail}}</p>
            <p><strong>Teléfono:</strong> {{student.tel}}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <h3>Inactivos</h3>
  <mat-accordion>
    <div *ngFor="let student of arrDeactivatedStudents" class="mb-3">
      <mat-expansion-panel [expanded]="isPanelExpanded(student.id)">
        <mat-expansion-panel-header class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img src="{{student.foto}}" alt="Imagen de perfil de: {{student.nombre}}" class="mr-3">
            <div>
              <h5>{{student.nombre}} {{student.apellidos}}</h5>
            </div>
          </div>
          <div>
            <button (click)="activateStudent(student)" class="btn btn-dark">Dar de alta al alumno</button>
          </div>
        </mat-expansion-panel-header>
        <!-- Contenido del panel de expansión -->
        <div>
          <div>
            <p><strong>Correo electrónico:</strong> {{student.mail}}</p>
            <p><strong>Teléfono:</strong> {{student.tel}}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>








