<div>
<div class="m-2">
  <h3 class="title-style">Activos</h3>
  <mat-accordion>
    <div *ngFor="let student of arrActiveStudents" class="mb-3">
      <mat-expansion-panel [expanded]="isPanelExpanded(student.id)">
        <mat-expansion-panel-header>
          <div class="d-flex align-items-center">
            <div class="img-container mr-3">
              <img src="{{student.foto}}" alt="Imagen de perfil de: {{student.nombre}}">
            </div>
            <div>
              <h5 class="general-style">{{student.nombre}} {{student.apellidos}}</h5>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button (click)="deactivateStudent(student)" class="btn btn-dark">Dar de baja al alumno</button>
          </div>
        </mat-expansion-panel-header>
        <!-- Contenido del panel de expansión -->
        <div>
            <span>Correo electrónico:</span><p class="mb-2"> {{student.mail}}</p>
            <span>Teléfono:</span> <p class="mb-0">{{student.tel}}</p>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <h3 class="title-style">Inactivos</h3>
  <mat-accordion>
    <div *ngFor="let student of arrDeactivatedStudents" class="mb-3">
      <mat-expansion-panel [expanded]="isPanelExpanded(student.id)">
        <mat-expansion-panel-header class="d-flex align-items-center">
          <div class="d-flex align-items-center">
            <div class="img-container mr-3">
              <img src="{{student.foto}}" alt="Imagen de perfil de: {{student.nombre}}">
            </div>
            <div>
              <h5 class="general-style">{{student.nombre}} {{student.apellidos}}</h5>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button (click)="activateStudent(student)" class="btn btn-success">Dar de alta al alumno</button>
          </div>
        </mat-expansion-panel-header>
        <!-- Contenido del panel de expansión -->
        <div>
          <div>
            <span>Correo electrónico:</span><p class="mb-2"> {{student.mail}}</p>
            <span>Teléfono:</span> <p class="mb-0">{{student.tel}}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>