<nav>
    <ul>
        <li [routerLink]="['/']">Inicio</li>
        <li *ngIf="!usersService.isLogged()">Iniciar sesión </li>
        <li *ngIf="!usersService.isLogged()">Registrarse</li>
        <li *ngIf="usersService.isLogged()">Mi perfil</li>
        <li *ngIf="usersService.isLogged()">Mis clases</li>
        <li *ngIf="usersService.isLogged()">Mis alumnos</li>
        <li *ngIf="usersService.isLogged()">Profesores</li>
        <li *ngIf="usersService.isLogged()">Alumnos</li>
        <li *ngIf="usersService.isLogged()" (click)="onClickLogOut()">Desconectar</li>
    </ul>
</nav>
