<div class="m-2">
<h3 class="title-style">Peticiones de alta de profesores</h3>
<mat-accordion>
  <div *ngFor="let teacher of arrUnactiveTeachers" class="mb-3">
    <mat-expansion-panel [expanded]="isPanelExpanded(teacher.id)">
      <mat-expansion-panel-header class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="img-container mr-3">
            <img [src]="teacher.foto" alt="Imagen de perfil de: {{ teacher.nombre }}" />
          </div>
          <div>
            <h5 class="general-style">{{ teacher.nombre }} {{ teacher.apellidos }}</h5>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-success" (click)="activateTeacher(teacher)">Dar de alta al profesor</button>
        </div>
      </mat-expansion-panel-header>
      <!-- Contenido del panel de expansión -->
      <div>
        <div>
          <span>Correo electrónico:</span><p class="mb-2"> {{teacher.mail}}</p>
          <span>Teléfono:</span> <p class="mb-0">{{teacher.tel}}</p>
      </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>

<h3 class="title-style">Profesores activos</h3>
<mat-accordion>
  <div *ngFor="let teacher of arrActiveTeachers" class="mb-3">
    <mat-expansion-panel [expanded]="isPanelExpanded(teacher.id)">
      <mat-expansion-panel-header class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="img-container mr-3">
            <img [src]="teacher.foto" alt="Imagen de perfil de: {{ teacher.nombre }}" />
          </div>
          <div>
            <h5 class="general-style">{{ teacher.nombre }} {{ teacher.apellidos }}</h5>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-dark" (click)="deactivateTeacher(teacher)">Dar de baja al profesor</button>
        </div>
      </mat-expansion-panel-header>
      <!-- Contenido del panel de expansión -->
      <div>
        <div>
          <span>Correo electrónico:</span><p class="mb-2"> {{teacher.mail}}</p>
          <span>Teléfono:</span> <p class="mb-0">{{teacher.tel}}</p>
      </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
</div>

