.titulo {
    color: #07064b;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: 20px;
  }
  
  .container{
    border: none;
    transform: perspective(1000px);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .textArea__style{
    height: 300px;
    width: 100%;
    background-color: transparent;
  }
  .btn-opacity {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btn-opacity:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: perspective(600px) rotateX(20deg) translateZ(0);
  }