<div  class="m-5">
    <h2 class="text-center h2-style">Conoce nuestra Comunidad TeacherApp</h2>
    <div >
      <form [formGroup]='formulario' (ngSubmit)="onSubmit()">
        <div>
          <label >Miembro TeacherApp</label>
          <input type="text" class="form-control input-style" formControlName="username" placeholder="Escribe tu nombre"/>
        </div>
        <div >
          <label >Chat</label>
          <input type="text" class="form-control input-style mb-3" formControlName="mensaje" />
        </div>
        <input type="submit" value="Enviar" class="btn mb-3 btn-opacity" />
      </form>
  
      <div >
        <h4 class="h4-style">Clientes conectados: {{ numUsuarios() }}</h4>
        <ul class="ul-style" >
          <li *ngFor="let msg of chatMensajes()">
            <span >{{ msg.username }}, rol: {{ msg.user_rol }} id:
              {{ msg.user_id }}</span>: {{ msg.mensaje }}
          </li>
        </ul>
      </div>
    </div>
  </div>
