.h2-style{
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.5);
}
.input-style{
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.input-style::placeholder{
  color: gray;
}
.btn-opacity {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-opacity:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.h4-style{
  font-size: 0.9rem;
}

.span-style{
  border-color: black;
}

.ul-style {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 230px;
  overflow-y: auto; 
  list-style: none; 
  padding: 0; 
}