<main>
  <div class="align-items-center justify-content-around m-5 main">
    <div class="container estilo-transparente d-flex flex-column align-items-center justify-content-center">
      <h1 class="nombre align">{{miUsuario?.nombre}} {{miUsuario?.apellidos}}</h1>
      <ul class="list">
        <li class="list__item">Email: {{miUsuario?.mail}}</li>
        <li class="list__item">Móvil: {{miUsuario?.tel}}</li>
      </ul>
    </div>
    <div class="usuario align-items-center">
      <img class="imagenUsuario estilo-3d" [src]="miUsuario?.foto" [alt]="miUsuario?.nombre" />
    </div>
  </div>

<div class="d-flex row-cols-2 justify-content-center">
  <app-form-usuarios></app-form-usuarios>
</div>
</main>