<main class="mt-3 d-flex flex-column align-items-center">
  <div class="card m-3">
    <div class="row g-0">
      <!-- Imagen a la izquierda -->
      <div class="col-md-4">
        <img class="img-fluid rounded-start" [src]="miUsuario?.foto" [alt]="miUsuario?.nombre" />
      </div>

      <!-- Datos en el centro -->
      <div class="col-md-8 d-flex align-items-center">
        <div class="card-body d-flex flex-column align-items-center">
          <h1 class="card-profesor mb-3">{{miUsuario?.nombre}} {{miUsuario?.apellidos}}</h1>
          <ul class="list">
            <li class="list__item">Email: {{miUsuario?.mail}}</li>
            <li class="list__item">Móvil: {{miUsuario?.tel}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex row-cols-2 justify-content-center align-items-center">
    <app-form-usuarios></app-form-usuarios>
  </div>
  <div class="mb-3 mt-3">
    <button class="btn text-white" (click)="darDeBajaAlta()">{{arrAltaBaja}}</button>
  </div>
</main>
