*{
  color: white;
}
.error{
  color: tomato;
  font-size: 12px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input__style {
  background-color: rgba(0, 0, 0, 0.1);
}

.submit-button {
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}

.register-button {
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}
input::placeholder{
  color: gray
}
.btn-custom {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  color: white;
  border-color: black;
  transform: perspective(600px) translateZ(0);
}

.btn-custom:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: perspective(600px) rotateX(20deg) translateZ(0);
}

.input__style{
  color: white;
}
@keyframes vibrar {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(1deg); }
  50% { transform: translateX(2px) rotate(-1deg); }
  75% { transform: translateX(-2px) rotate(1deg); }
  100% { transform: translateX(2px) rotate(-1deg); }
}

.vibrar:enabled {
  animation: vibrar 0.3s ease-in-out 1;
}
@media (min-width: 500px) {
  .input__style {
    width: 400px;
  }
}

