*{
  color: white;
}
.card {
  border: none;
  transform: perspective(1000px);
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-opacity-1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-opacity-1:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: perspective(600px) rotateX(20deg) translateZ(0);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
img{
  height: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.h1__style{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
}

.h2__style{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}


  
