<div class="card m-3" style="max-width: 1200px;">
    <div class="row g-0 d-flex justify-content-between">
        <!-- Imagen a la izquierda -->
        <div class="col-md-4">
            <img [src]="miProfesor.foto" [alt]="miProfesor.nombre" class="img-fluid rounded-start">
        </div>
        <!-- Datos en el centro -->
        <div class="col-md-5 d-flex align-items-center">
            <div class="card-body text-center align-items-center justify-content-center">
                <h1 class="h1__style">{{miProfesor.nombre}} {{miProfesor.apellidos}}</h1>
                <h3 class="h3__style">Nº profesor: {{miProfesor.id}}</h3>
                <h3>{{miProfesor.puntuacion}}</h3>
                <!--Sistema de rating con iconos-->
                <ng-container [ngSwitch]="true">
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia<=1">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>1 && puntuacionMedia<=1.5">
                    
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="24" viewBox="0 0 24 24" width="24"><g fill="none" fill-rule="evenodd"><path d="m12 16.667v-14.667l2.5 7.5h7.5l-6 4.5 3 8z" fill="#000" fill-opacity=".2"/><path d="m12 16.667-7 5.333 3-8-6-4.5h7.5l2.5-7.5z" fill="#ffc95e"/></g></svg>
                </h3>
                 
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>1.5 && puntuacionMedia<=2"> 
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>2 && puntuacionMedia<=2.5"> 
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="24" viewBox="0 0 24 24" width="24"><g fill="none" fill-rule="evenodd"><path d="m12 16.667v-14.667l2.5 7.5h7.5l-6 4.5 3 8z" fill="#000" fill-opacity=".2"/><path d="m12 16.667-7 5.333 3-8-6-4.5h7.5l2.5-7.5z" fill="#ffc95e"/></g></svg>
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>2.5 && puntuacionMedia<=3">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>3 && puntuacionMedia<=3.5">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="24" viewBox="0 0 24 24" width="24"><g fill="none" fill-rule="evenodd"><path d="m12 16.667v-14.667l2.5 7.5h7.5l-6 4.5 3 8z" fill="#000" fill-opacity=".2"/><path d="m12 16.667-7 5.333 3-8-6-4.5h7.5l2.5-7.5z" fill="#ffc95e"/></g></svg>
                    
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>3.5 && puntuacionMedia<=4">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>4 && puntuacionMedia<=4.5">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="24" viewBox="0 0 24 24" width="24"><g fill="none" fill-rule="evenodd"><path d="m12 16.667v-14.667l2.5 7.5h7.5l-6 4.5 3 8z" fill="#000" fill-opacity=".2"/><path d="m12 16.667-7 5.333 3-8-6-4.5h7.5l2.5-7.5z" fill="#ffc95e"/></g></svg>
                </h3>
                <h3 class="h3__style" *ngSwitchCase="puntuacionMedia>4.5">
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                    <svg height="21" viewBox="0 0 64 64" width="21"><path d="m62 25.2h-22.9l-7.1-22.2-7.1 22.2h-22.9l18.5 13.7-7 22.1 18.5-13.7 18.5 13.7-7.1-22.2z" fill="#ffce31"/></svg>
                </h3>
                </ng-container>
                <button class="btn-opacity-1" (click)="obtenerEspecialidad()" [routerLink]="['/detalles', miProfesor.id,{ especialidadId: this.especialidad_Id }]">Detalles</button>
            </div>
        </div>
    <div>
<div>

    