<section class="container mt-3 mb-3">
    <div class="row g-3 align-items-end">
        <article class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let esp of arrEspecialidades">
            <div class="card-container">
                <app-especialidades-card (mouseover)="showOverlay=true" (mouseout)="showOverlay=false" [oneEspecialidad]="esp"></app-especialidades-card>
                <div class="overlay" *ngIf="showOverlay">
                    <p>{{esp.especialidad}}</p>
                </div>
            </div>
        </article>
    </div>
</section>