.card-alumno{
  background-color: rgba(0, 0, 0, 0.1);
}

span{
  font-size: 1.5rem;
}

.btn-custom,
.custom-input {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  color: white;
}

.btn-custom:hover,
.custom-input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.card-alumno:hover{
  background: rgba(0, 0, 0, 0.2);
}