<div class="container-fluid text-white p-3">  
    <!-- Card principal -->
    <div class="card m-3 card-alumno">
      <div class="row g-0">
        <!-- Imagen a la izquierda -->
        <div class="col-12 col-md-4">
          <img [src]="miUsuario.foto" [alt]="miUsuario.nombre" class="img-fluid rounded-start w-100" />
        </div>
  
        <!-- Datos en el centro -->
        <div class="col-12 col-md-5 mt-3 mt-md-0">
          <div class="card-body text-center">
            <h1 class="text-white mb-3" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 2rem;">{{mostrarNombreEspecialidad()}}</h1>
            <h3 class="card-profesor text-white mb-3" style="font-size: 1.5rem;">{{miUsuario.nombre}} {{miUsuario.apellidos}}</h3>
            <div class="flex-row">
              <span class="text-white" style="font-weight: bold;">Clases: </span>
              <span class="text-white">{{totalClases}}</span>
            </div>
          </div>
        </div>
  
        <!-- Botones en la tercera columna -->
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center mt-3 mt-md-0">
          <div class="text-center">
            <button class="btn btn-custom mb-3" [routerLink]="['/foro/:usuarioId']">
              <span class="text-white">Dudas de {{miUsuario.nombre}}</span>
            </button>

          <form class="containerForm">
            <label class="label mt-3" style="position: absolute; left: 20px;" for="fecha">Fecha de próxima clase</label>
            <input class="input mb-3 mt-3 " type="text" id="fecha" name="fecha" placeholder="dd/mm/aaaa" [(ngModel)]="fechaInput" />
            <input class="btn btn-custom" type="submit" value="Añadir" id="fecha" (click)="anadirFechaClases()" />
          </form>
        </div>
      </div>
    </div>
  </div>