
    .card {
        border: none;
        transform: perspective(1000px);
        background-color: rgba(0, 0, 0, 0.1);
      }
      
      .btn-opacity-1 {
        background-color: rgba(0, 0, 0, 0.1);
      }
      
      .btn-opacity-1:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }

      .card:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Ajusta el tono de oscurecimiento según sea necesario */
      }