.card {
  border: none;
  transform: perspective(1000px);
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-opacity-1 {
  background-color: rgba(255, 255, 255, 0.1);
}
input{
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-opacity-1:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: perspective(600px) rotateX(20deg) translateZ(0);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.estilo {
  font-weight: bold;
}

span {
  font-size: 1.5rem;
}

img{
  margin-left: 2rem;
  border-radius: 10px;
  height: 300px;
}
.stars-container {
  display: flex;
  align-items: center;
}

.star {
  font-size: 2rem;
  color: #c0c0c0; /* Color gris para las estrellas inactivas */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.star:hover,
.star.active {
  color: #ffd700; /* Color amarillo para las estrellas activas o al pasar el cursor */
}

.button {
  color: black
}