<div class="onlyCard shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="cardComponent">

        <img class="imageProf" [src]="this.foto" [alt]="this.alumno.nombre">
        <div class="text">
            <h2 class="card-title">{{this.especialidad}}</h2>
            <h3 class="card-profesor">{{this.alumno.nombre}} {{this.alumno.apellidos}}</h3>
            <p class="card-clases">Cantidad total de clases: {{this.fechas}}</p>
            <p class="card-clases">Última clase agendada: {{this.fecha}}</p>
        </div>

        <!--//TODO: Crear funcionaliad de botones -->
        <div class="buttons">
            <a class="button" type="submit" (click)="routeAlForo()">
                <span>Contacta con tu alumno</span>
            </a>
            <a class="button" type="submit" (click)="terminarClases()">
                <span>Terminé mis clases</span>
            </a>
        </div>
    </div>
</div>
