<div class="card m-3 d-flex justify-content-center">
  <div class="row g-0">
    <!-- Imagen a la izquierda -->
    <div class="col-md-4 d-flex align-items-center mt-3 mb-3">
      <img [src]="infoUser.usuario.foto" [alt]="infoUser.usuario.nombre" class="img-fluid rounded-start" />
    </div>

    <!-- Datos en el centro -->
    <div class="col-md-5 d-flex align-items-center">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 3rem;">{{infoUser.especialidad}}</h1>
        <h3 class="card-profesor estilo mt-3">{{infoUser.usuario.nombre}} {{infoUser.usuario.apellidos}}</h3>
        <div class="flex-row">
          <span class=" estilo">Email: </span>
          <span>{{infoUser.usuario.mail}}</span>
        </div>
        <div class="flex-row mb-3">
          <span class=" estilo">Móvil: </span>
          <span>{{infoUser.usuario.tel}}</span>
        </div>
        <div class="flex-row">
          <span class=" estilo">Cantidad total de clases: </span>
          <span>{{infoUser.fechas}}</span>
        </div>
        <div class="flex-row">
          <span class=" font-weight-bold estilo">Última clase agendada: </span>
          <span>{{infoUser.fecha}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3 d-flex flex-column justify-content-center align-items-center">
      <ng-container *ngIf="esAlumno; else elseBlock">
        <a class="btn btn-dark btn-opacity-1 mb-2" type="submit" (click)="routeAlForo()">
          <span>Chatea con tu profesor</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a class="btn btn-dark btn-opacity-1 mb-2" type="submit" (click)="routeAlForo()">
          <span>Chatea con tu alumno</span>
        </a>
      </ng-template>
      <a class="btn btn-dark btn-opacity-1" type="submit" (click)="terminarYBorrarClases()">
        <span>Terminé mis clases</span>
      </a>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <ng-container *ngIf="esAlumno">
          <ng-container *ngIf="!isPuntuacion ; else elseBlock2">
            <span class="m-0 mt-3">Puntúa a tu profesor!</span>
            <div class="stars-container">
              <span class="star" (mouseover)="setRating(1)" (click)="submitRating(1)"
                [ngClass]="{'active': hoveredStar >= 1}">&#9733;</span>
              <span class="star" (mouseover)="setRating(2)" (mouseout)="resetHoveredStar()" (click)="submitRating(2)"
                [ngClass]="{'active': hoveredStar >= 2}">&#9733;</span>
              <span class="star" (mouseover)="setRating(3)" (mouseout)="resetHoveredStar()" (click)="submitRating(3)"
                [ngClass]="{'active': hoveredStar >= 3}">&#9733;</span>
              <span class="star" (mouseover)="setRating(4)" (mouseout)="resetHoveredStar()" (click)="submitRating(4)"
                [ngClass]="{'active': hoveredStar >= 4}">&#9733;</span>
              <span class="star" (mouseover)="setRating(5)" (mouseout)="resetHoveredStar()" (click)="submitRating(5)"
                [ngClass]="{'active': hoveredStar === 5}">&#9733;</span>
            </div>
            <span class="mb-1">Deja tu comentario:</span>
            <input type="text" placeholder="Escribe aquí tu opinión" [(ngModel)]="comentario" />
            <button class="btn btn-dark btn-opacity-1 mb-3 mt-3" type="submit" (click)="enviarPuntuacion()">Enviar opinión</button>
          </ng-container>
        </ng-container>
        <ng-template #elseBlock2>
          <span class="mt-3 text-center">Ya has puntuado a tu profesor. Muchas gracias! 😊</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>