@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    *{
        font-size: 0.9rem;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1f2c70;
    overflow: hidden;
    z-index: -1;

}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 30;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #2c339b;
    top: 38%;
    left: 35%;
    animation-duration: 102s;
    animation-delay: -113s;
    transform-origin: -3vw 5vh;
    box-shadow: -100vmin 0 13.119550633436328vmin currentColor;
}
.background span:nth-child(1) {
    color: #2c339b;
    top: 92%;
    left: 60%;
    animation-duration: 162s;
    animation-delay: -70s;
    transform-origin: -5vw -10vh;
    box-shadow: -100vmin 0 13.124683105864122vmin currentColor;
}
.background span:nth-child(2) {
    color: #2c339b;
    top: 34%;
    left: 5%;
    animation-duration: 120s;
    animation-delay: -60s;
    transform-origin: 3vw -9vh;
    box-shadow: 100vmin 0 13.219226167967152vmin currentColor;
}
.background span:nth-child(3) {
    color: #4549ba;
    top: 9%;
    left: 96%;
    animation-duration: 69s;
    animation-delay: -77s;
    transform-origin: -19vw -7vh;
    box-shadow: 100vmin 0 12.952598357214598vmin currentColor;
}
.background span:nth-child(4) {
    color: #4549ba;
    top: 90%;
    left: 62%;
    animation-duration: 147s;
    animation-delay: -74s;
    transform-origin: -3vw 7vh;
    box-shadow: 100vmin 0 13.163930821461825vmin currentColor;
}
.background span:nth-child(5) {
    color: #2c339b;
    top: 79%;
    left: 71%;
    animation-duration: 33s;
    animation-delay: -175s;
    transform-origin: 0vw -6vh;
    box-shadow: 100vmin 0 13.055948100512609vmin currentColor;
}
.background span:nth-child(6) {
    color: #776bd1;
    top: 79%;
    left: 99%;
    animation-duration: 113s;
    animation-delay: -157s;
    transform-origin: -22vw -5vh;
    box-shadow: -100vmin 0 13.294586213911947vmin currentColor;
}
.background span:nth-child(7) {
    color: #2c339b;
    top: 97%;
    left: 66%;
    animation-duration: 107s;
    animation-delay: -138s;
    transform-origin: 2vw 5vh;
    box-shadow: 100vmin 0 12.615466238794745vmin currentColor;
}
.background span:nth-child(8) {
    color: #4549ba;
    top: 97%;
    left: 58%;
    animation-duration: 113s;
    animation-delay: -37s;
    transform-origin: -21vw -6vh;
    box-shadow: -100vmin 0 12.743190104404649vmin currentColor;
}
.background span:nth-child(9) {
    color: #4549ba;
    top: 80%;
    left: 3%;
    animation-duration: 52s;
    animation-delay: -174s;
    transform-origin: 8vw 25vh;
    box-shadow: -100vmin 0 12.929756070891129vmin currentColor;
}
.background span:nth-child(10) {
    color: #2c339b;
    top: 17%;
    left: 72%;
    animation-duration: 101s;
    animation-delay: -154s;
    transform-origin: -4vw 5vh;
    box-shadow: -100vmin 0 12.92544443835035vmin currentColor;
}
.background span:nth-child(11) {
    color: #2c339b;
    top: 3%;
    left: 25%;
    animation-duration: 76s;
    animation-delay: -16s;
    transform-origin: -13vw 7vh;
    box-shadow: -100vmin 0 12.52641387387688vmin currentColor;
}
.background span:nth-child(12) {
    color: #4549ba;
    top: 9%;
    left: 94%;
    animation-duration: 61s;
    animation-delay: -102s;
    transform-origin: -2vw -5vh;
    box-shadow: -100vmin 0 12.889785821016696vmin currentColor;
}
.background span:nth-child(13) {
    color: #776bd1;
    top: 1%;
    left: 42%;
    animation-duration: 158s;
    animation-delay: -190s;
    transform-origin: -22vw 21vh;
    box-shadow: 100vmin 0 13.417076305053858vmin currentColor;
}
.background span:nth-child(14) {
    color: #4549ba;
    top: 23%;
    left: 2%;
    animation-duration: 21s;
    animation-delay: -45s;
    transform-origin: -3vw 1vh;
    box-shadow: -100vmin 0 12.692697032673815vmin currentColor;
}
.background span:nth-child(15) {
    color: #776bd1;
    top: 43%;
    left: 5%;
    animation-duration: 174s;
    animation-delay: -118s;
    transform-origin: -12vw 2vh;
    box-shadow: 100vmin 0 13.000510486464298vmin currentColor;
}
.background span:nth-child(16) {
    color: #4549ba;
    top: 99%;
    left: 90%;
    animation-duration: 74s;
    animation-delay: -97s;
    transform-origin: 23vw -13vh;
    box-shadow: -100vmin 0 13.43567980910144vmin currentColor;
}
.background span:nth-child(17) {
    color: #776bd1;
    top: 60%;
    left: 10%;
    animation-duration: 13s;
    animation-delay: -165s;
    transform-origin: 17vw -11vh;
    box-shadow: -100vmin 0 12.913717269164172vmin currentColor;
}
.background span:nth-child(18) {
    color: #2c339b;
    top: 37%;
    left: 59%;
    animation-duration: 202s;
    animation-delay: -51s;
    transform-origin: 6vw -17vh;
    box-shadow: -100vmin 0 13.220366479664309vmin currentColor;
}
.background span:nth-child(19) {
    color: #2c339b;
    top: 11%;
    left: 16%;
    animation-duration: 124s;
    animation-delay: -42s;
    transform-origin: 17vw 20vh;
    box-shadow: -100vmin 0 13.435862404409688vmin currentColor;
}
.background span:nth-child(20) {
    color: #776bd1;
    top: 24%;
    left: 12%;
    animation-duration: 137s;
    animation-delay: -111s;
    transform-origin: 15vw -22vh;
    box-shadow: 100vmin 0 13.406372210528996vmin currentColor;
}
.background span:nth-child(21) {
    color: #776bd1;
    top: 52%;
    left: 20%;
    animation-duration: 121s;
    animation-delay: -99s;
    transform-origin: -23vw -18vh;
    box-shadow: -100vmin 0 12.746124277536385vmin currentColor;
}
.background span:nth-child(22) {
    color: #2c339b;
    top: 28%;
    left: 10%;
    animation-duration: 6s;
    animation-delay: -78s;
    transform-origin: -14vw 24vh;
    box-shadow: -100vmin 0 13.114652195760343vmin currentColor;
}
.background span:nth-child(23) {
    color: #2c339b;
    top: 2%;
    left: 90%;
    animation-duration: 197s;
    animation-delay: -174s;
    transform-origin: -4vw 11vh;
    box-shadow: -100vmin 0 13.484313981485107vmin currentColor;
}
.background span:nth-child(24) {
    color: #4549ba;
    top: 75%;
    left: 92%;
    animation-duration: 144s;
    animation-delay: -130s;
    transform-origin: 19vw 4vh;
    box-shadow: 100vmin 0 13.418565109121086vmin currentColor;
}
