@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #676be0;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 40vmin;
    height: 40vmin;
    border-radius: 40vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 35;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #9286c1;
    top: 59%;
    left: 86%;
    animation-duration: 49s;
    animation-delay: -78s;
    transform-origin: 5vw -11vh;
    box-shadow: 80vmin 0 10.283298444948603vmin currentColor;
}
.background span:nth-child(1) {
    color: #12064b;
    top: 76%;
    left: 63%;
    animation-duration: 22s;
    animation-delay: -11s;
    transform-origin: -22vw -17vh;
    box-shadow: 80vmin 0 10.81347691841107vmin currentColor;
}
.background span:nth-child(2) {
    color: #12064b;
    top: 24%;
    left: 20%;
    animation-duration: 113s;
    animation-delay: -126s;
    transform-origin: -11vw -8vh;
    box-shadow: 80vmin 0 10.88779878070869vmin currentColor;
}
.background span:nth-child(3) {
    color: #12064b;
    top: 1%;
    left: 79%;
    animation-duration: 25s;
    animation-delay: -75s;
    transform-origin: -11vw 9vh;
    box-shadow: -80vmin 0 10.670093805873769vmin currentColor;
}
.background span:nth-child(4) {
    color: #9286c1;
    top: 18%;
    left: 36%;
    animation-duration: 107s;
    animation-delay: -49s;
    transform-origin: -7vw 19vh;
    box-shadow: -80vmin 0 10.32488105710013vmin currentColor;
}
.background span:nth-child(5) {
    color: #4700c2;
    top: 99%;
    left: 28%;
    animation-duration: 111s;
    animation-delay: -113s;
    transform-origin: -20vw 12vh;
    box-shadow: -80vmin 0 10.787966178636578vmin currentColor;
}
.background span:nth-child(6) {
    color: #9286c1;
    top: 33%;
    left: 30%;
    animation-duration: 98s;
    animation-delay: -33s;
    transform-origin: -20vw 8vh;
    box-shadow: -80vmin 0 10.210748736839468vmin currentColor;
}
.background span:nth-child(7) {
    color: #9286c1;
    top: 66%;
    left: 41%;
    animation-duration: 126s;
    animation-delay: -120s;
    transform-origin: 0vw -13vh;
    box-shadow: -80vmin 0 10.571286659409218vmin currentColor;
}
.background span:nth-child(8) {
    color: #9286c1;
    top: 49%;
    left: 12%;
    animation-duration: 128s;
    animation-delay: -13s;
    transform-origin: 24vw 11vh;
    box-shadow: -80vmin 0 10.965455942304244vmin currentColor;
}
.background span:nth-child(9) {
    color: #9286c1;
    top: 30%;
    left: 73%;
    animation-duration: 84s;
    animation-delay: -101s;
    transform-origin: 3vw 20vh;
    box-shadow: 80vmin 0 10.036907479787603vmin currentColor;
}
.background span:nth-child(10) {
    color: #4700c2;
    top: 45%;
    left: 28%;
    animation-duration: 58s;
    animation-delay: -142s;
    transform-origin: 13vw 14vh;
    box-shadow: -80vmin 0 10.283994830635512vmin currentColor;
}
.background span:nth-child(11) {
    color: #12064b;
    top: 8%;
    left: 7%;
    animation-duration: 124s;
    animation-delay: -88s;
    transform-origin: -18vw 18vh;
    box-shadow: 80vmin 0 10.278412044954964vmin currentColor;
}
.background span:nth-child(12) {
    color: #9286c1;
    top: 49%;
    left: 14%;
    animation-duration: 63s;
    animation-delay: -74s;
    transform-origin: 18vw 18vh;
    box-shadow: 80vmin 0 10.213259962199734vmin currentColor;
}
.background span:nth-child(13) {
    color: #4700c2;
    top: 32%;
    left: 85%;
    animation-duration: 49s;
    animation-delay: -116s;
    transform-origin: 13vw -7vh;
    box-shadow: 80vmin 0 10.565700585853152vmin currentColor;
}
.background span:nth-child(14) {
    color: #9286c1;
    top: 3%;
    left: 28%;
    animation-duration: 90s;
    animation-delay: -132s;
    transform-origin: -12vw -15vh;
    box-shadow: 80vmin 0 10.213735726716488vmin currentColor;
}
.background span:nth-child(15) {
    color: #12064b;
    top: 99%;
    left: 74%;
    animation-duration: 110s;
    animation-delay: -57s;
    transform-origin: -18vw -15vh;
    box-shadow: -80vmin 0 10.687563858095832vmin currentColor;
}
.background span:nth-child(16) {
    color: #12064b;
    top: 37%;
    left: 57%;
    animation-duration: 93s;
    animation-delay: -81s;
    transform-origin: -9vw 6vh;
    box-shadow: 80vmin 0 10.09810493184386vmin currentColor;
}
.background span:nth-child(17) {
    color: #9286c1;
    top: 5%;
    left: 14%;
    animation-duration: 149s;
    animation-delay: -86s;
    transform-origin: 1vw -8vh;
    box-shadow: -80vmin 0 10.433564275287754vmin currentColor;
}
.background span:nth-child(18) {
    color: #9286c1;
    top: 4%;
    left: 100%;
    animation-duration: 101s;
    animation-delay: -92s;
    transform-origin: -10vw -6vh;
    box-shadow: -80vmin 0 10.350541745006772vmin currentColor;
}
.background span:nth-child(19) {
    color: #4700c2;
    top: 66%;
    left: 31%;
    animation-duration: 76s;
    animation-delay: -24s;
    transform-origin: -14vw 20vh;
    box-shadow: 80vmin 0 10.098981475074295vmin currentColor;
}
.background span:nth-child(20) {
    color: #4700c2;
    top: 38%;
    left: 24%;
    animation-duration: 65s;
    animation-delay: -33s;
    transform-origin: 5vw -17vh;
    box-shadow: 80vmin 0 10.949171096988078vmin currentColor;
}
.background span:nth-child(21) {
    color: #4700c2;
    top: 1%;
    left: 25%;
    animation-duration: 90s;
    animation-delay: -5s;
    transform-origin: -22vw 6vh;
    box-shadow: 80vmin 0 10.957538530885136vmin currentColor;
}
.background span:nth-child(22) {
    color: #12064b;
    top: 65%;
    left: 33%;
    animation-duration: 46s;
    animation-delay: -48s;
    transform-origin: 15vw -16vh;
    box-shadow: 80vmin 0 10.190285186148387vmin currentColor;
}
.background span:nth-child(23) {
    color: #12064b;
    top: 53%;
    left: 21%;
    animation-duration: 120s;
    animation-delay: -40s;
    transform-origin: -1vw -11vh;
    box-shadow: -80vmin 0 10.864765870906837vmin currentColor;
}
.background span:nth-child(24) {
    color: #9286c1;
    top: 12%;
    left: 64%;
    animation-duration: 86s;
    animation-delay: -60s;
    transform-origin: 21vw 25vh;
    box-shadow: 80vmin 0 10.983129967692893vmin currentColor;
}
.background span:nth-child(25) {
    color: #9286c1;
    top: 85%;
    left: 25%;
    animation-duration: 26s;
    animation-delay: -6s;
    transform-origin: -7vw 19vh;
    box-shadow: 80vmin 0 10.941838319913785vmin currentColor;
}
.background span:nth-child(26) {
    color: #12064b;
    top: 58%;
    left: 88%;
    animation-duration: 15s;
    animation-delay: -89s;
    transform-origin: 4vw 9vh;
    box-shadow: -80vmin 0 10.398255868284604vmin currentColor;
}
.background span:nth-child(27) {
    color: #9286c1;
    top: 4%;
    left: 41%;
    animation-duration: 79s;
    animation-delay: -33s;
    transform-origin: -6vw 9vh;
    box-shadow: 80vmin 0 10.56852881593386vmin currentColor;
}
.background span:nth-child(28) {
    color: #12064b;
    top: 93%;
    left: 1%;
    animation-duration: 148s;
    animation-delay: -120s;
    transform-origin: -24vw 2vh;
    box-shadow: 80vmin 0 10.877400447634523vmin currentColor;
}
.background span:nth-child(29) {
    color: #4700c2;
    top: 38%;
    left: 10%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: 8vw 18vh;
    box-shadow: 80vmin 0 10.721149416910766vmin currentColor;
}
.background span:nth-child(30) {
    color: #4700c2;
    top: 4%;
    left: 70%;
    animation-duration: 76s;
    animation-delay: -8s;
    transform-origin: -15vw -5vh;
    box-shadow: -80vmin 0 10.649144404767128vmin currentColor;
}
.background span:nth-child(31) {
    color: #12064b;
    top: 4%;
    left: 55%;
    animation-duration: 143s;
    animation-delay: -69s;
    transform-origin: 10vw -23vh;
    box-shadow: -80vmin 0 10.703971148877022vmin currentColor;
}
.background span:nth-child(32) {
    color: #12064b;
    top: 67%;
    left: 32%;
    animation-duration: 124s;
    animation-delay: -46s;
    transform-origin: -17vw -24vh;
    box-shadow: 80vmin 0 10.042241953015825vmin currentColor;
}
.background span:nth-child(33) {
    color: #12064b;
    top: 42%;
    left: 10%;
    animation-duration: 91s;
    animation-delay: -49s;
    transform-origin: 24vw -11vh;
    box-shadow: -80vmin 0 10.774619157866432vmin currentColor;
}
.background span:nth-child(34) {
    color: #9286c1;
    top: 58%;
    left: 35%;
    animation-duration: 23s;
    animation-delay: -120s;
    transform-origin: -18vw 25vh;
    box-shadow: 80vmin 0 10.412144030053332vmin currentColor;
}
.background span:nth-child(35) {
    color: #4700c2;
    top: 27%;
    left: 79%;
    animation-duration: 19s;
    animation-delay: -34s;
    transform-origin: -3vw -2vh;
    box-shadow: 80vmin 0 10.768030505635517vmin currentColor;
}
.background span:nth-child(36) {
    color: #9286c1;
    top: 33%;
    left: 88%;
    animation-duration: 140s;
    animation-delay: -149s;
    transform-origin: -12vw 2vh;
    box-shadow: -80vmin 0 10.887191432406482vmin currentColor;
}
.background span:nth-child(37) {
    color: #9286c1;
    top: 73%;
    left: 74%;
    animation-duration: 44s;
    animation-delay: -56s;
    transform-origin: 14vw 12vh;
    box-shadow: 80vmin 0 10.604513989291675vmin currentColor;
}
.background span:nth-child(38) {
    color: #12064b;
    top: 83%;
    left: 15%;
    animation-duration: 99s;
    animation-delay: -107s;
    transform-origin: 6vw -20vh;
    box-shadow: -80vmin 0 10.352836710294806vmin currentColor;
}
.background span:nth-child(39) {
    color: #4700c2;
    top: 40%;
    left: 26%;
    animation-duration: 108s;
    animation-delay: -31s;
    transform-origin: 21vw 19vh;
    box-shadow: 80vmin 0 10.939741131297918vmin currentColor;
}
.background span:nth-child(40) {
    color: #9286c1;
    top: 7%;
    left: 73%;
    animation-duration: 131s;
    animation-delay: -138s;
    transform-origin: -6vw 4vh;
    box-shadow: -80vmin 0 10.277382220152171vmin currentColor;
}
.background span:nth-child(41) {
    color: #9286c1;
    top: 100%;
    left: 20%;
    animation-duration: 131s;
    animation-delay: -16s;
    transform-origin: 18vw 20vh;
    box-shadow: -80vmin 0 10.96813401688744vmin currentColor;
}
.background span:nth-child(42) {
    color: #12064b;
    top: 5%;
    left: 54%;
    animation-duration: 74s;
    animation-delay: -138s;
    transform-origin: 7vw -11vh;
    box-shadow: 80vmin 0 10.83421280506258vmin currentColor;
}
.background span:nth-child(43) {
    color: #9286c1;
    top: 74%;
    left: 33%;
    animation-duration: 115s;
    animation-delay: -48s;
    transform-origin: -19vw 9vh;
    box-shadow: 80vmin 0 10.62368561739801vmin currentColor;
}
.background span:nth-child(44) {
    color: #12064b;
    top: 42%;
    left: 59%;
    animation-duration: 11s;
    animation-delay: -100s;
    transform-origin: 14vw -8vh;
    box-shadow: 80vmin 0 10.391799324413457vmin currentColor;
}
.background span:nth-child(45) {
    color: #9286c1;
    top: 69%;
    left: 41%;
    animation-duration: 149s;
    animation-delay: -96s;
    transform-origin: 0vw -4vh;
    box-shadow: -80vmin 0 10.577042877712287vmin currentColor;
}
.background span:nth-child(46) {
    color: #4700c2;
    top: 5%;
    left: 2%;
    animation-duration: 58s;
    animation-delay: -63s;
    transform-origin: -10vw -15vh;
    box-shadow: -80vmin 0 10.470243704704798vmin currentColor;
}
.background span:nth-child(47) {
    color: #12064b;
    top: 11%;
    left: 98%;
    animation-duration: 58s;
    animation-delay: -67s;
    transform-origin: -3vw 25vh;
    box-shadow: -80vmin 0 10.744227908279269vmin currentColor;
}
.background span:nth-child(48) {
    color: #9286c1;
    top: 2%;
    left: 60%;
    animation-duration: 52s;
    animation-delay: -90s;
    transform-origin: 3vw -19vh;
    box-shadow: 80vmin 0 10.363197898402012vmin currentColor;
}
.background span:nth-child(49) {
    color: #4700c2;
    top: 47%;
    left: 55%;}